.title-cards{
    margin-top: 50px;
    margin-bottom: 30px;
}
.title-cards h2{
    margin-bottom: 8px;
}
.cards_list{
    display: flex;
    gap: 10px;
    overflow-x: scroll;
}
.cards_list::-webkit-scrollbar{
    display: none;
}
.cards_list img{
    width: 240px;
    border-radius: 4px;
    cursor: pointer;
}
.cards_list .card{
    position: relative;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    color: white;

}

@media (max-width : 800px) {
    .title-cards{
        margin-top: 20px;
        margin-bottom: 0;
    }
    .title-cards h2{
        font-size: 20px;
    }
    .cards_list img{
        font-size: 12px;

    }
}
@media (max-width :500px) {
    .title-cards h2{
        font-size: 15px;
    }
    .cards_list img{
        width: 165px;
    }
    .cards_list p{
        font-size: 10px;
    }
}