.title-cards{
    margin-top: 50px;
    margin-bottom: 30px;
}
.title-cards h2{
    margin-bottom: 8px;
}
.cards_list{
    display: flex;
    gap: 10px;
    overflow-x: scroll;
}
.cards_list::-webkit-scrollbar{
    display: none;
}
.cards_list img{
    width: 240px;
    border-radius: 4px;
    cursor: pointer;
}
.cards_list .card{
    position: relative;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    color: white;

}